.contact {
  width: 30%;
  &__text {
    color: white;
    font-size: 16px;
  }
  &--address {
    text-align: left;
    padding: 10px;
  }
  &--icons {
    text-align: center;
  }
  &__link {
    text-decoration: none;
    color: white;
    &:hover {
      text-decoration: underline;
      color: #30bae7;
    }
  }
}

@media #{$mobile-width} {
  .contact {
    width: 95%;
    margin: 0 auto;
    &__text {
      text-align: center;
    }
  }
}

@media #{$tablet-width} {
  .contact {
    width: 95%;
    margin: 0 auto;
    &__text {
      text-align: center;
      font-size: 14px;
    }
  }
}

