.feature {
  width: 23%;
  &__icon {
    display: block;
    margin: 0 auto;
    height: 80px;
  }
  &__title {
    display: block;
    font-size: 22px;
    color: #ffffff;
    text-transform: uppercase;
    text-align: center;
    min-height: 60px;
    margin-top: 50px;
    margin-bottom: 30px;
  }
  &__text {
    font-size: 16px;
    color: #ffffff;
    text-align: center;
    display: block;
  }
}

@media #{$mobile-width} {
  .feature {
    width: 95%;
    &__icon {
      height: 50px;
    }
    &__title {
      min-height: 30px;
      font-size: 16px;
      margin-top: 20px;
      margin-bottom: 5px;
    }
  }
}

@media #{$tablet-width} {
  .feature {
    width: 45%;
    &__title {
      font-size: 18px;
      min-height: 20px;
      margin-bottom: 5px;
      margin-top: 20px;
    }
  }
}