.features-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: stretch;
}

@media #{$mobile-width} {
  .features-wrapper {
    flex-direction: column;
  }
}

@media #{$tablet-width} {
  .features-wrapper {
    flex-direction: row;
    flex-wrap: wrap;
  }
}