.inshort-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  padding-bottom: 30px;
}

@media #{$mobile-width} {
  .inshort-wrapper {
    flex-direction: column; 
  }
  
}
