.member {
  width: 33%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: wrap;
  &__img {
    margin: 0 auto;
    border-radius: 50%;
  }
  &__title {
    display: block;
    font-size: 20px;
    color: #3c4761;
    text-transform: uppercase;
    text-align: center;
    min-height: 24px;
    margin-top: 30px;
    margin-bottom: 10px;
  }
  &__subtitle {
    font-size: 16px;
    color: #30bae7;
    text-align: center;
    display: block;
  }
}

@media #{$mobile-width} {
  .member {
    width: 95%;
    &__title {
      font-size: 18px;
      margin-top: 15px;
      
    }
  }
}
@media #{$tablet-width} {
  .member {
    &__title {
      font-size: 18px;
    }
    &__img {
      width: 70%;
    }
  }
}