  .members-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    margin: 0 auto;
    width: 80%;
    padding-bottom: 20px;
  }
  
  @media #{$mobile-width} {
    .members-wrapper {
      flex-direction: column;
    }
  }