.needs-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: flex-start;
  min-height: 450px;
}

@media #{$mobile-width} {
  .needs-wrapper {
    flex-direction: column;
  }
}