.page-footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 120px;
  &__header {
    display: flex;
    justify-content: center;
    align-items: center;
    @include title;
  }
  &__copyright {
    display: flex;
    justify-content: center;
    align-items: center;
    @include text;
  }
}

@media #{$mobile-width} {
  .page-footer {
    flex-direction: column;
    justify-content: space-around;
    align-content: space-around;
    min-height: 240px;
    &__header {
      font-size: 21px;
      margin-top: 20px;
    }
    &__copyright {
      margin-top: 30px;
    }
  }
}

@media #{$tablet-width} {
  .page-footer__header {
    width: 33.3%;
    font-size: 21px;
  }
  .page-footer__copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 18%;
    @include text;
    margin-right: 55px;
  }
}

@media #{$desktop-width} {
  .page-footer__copyright {
    margin-right: 0px;
  }
}