.screenshot-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin-bottom: 20px;
  min-height: 500px;
}

@media #{$mobile-width} {
  .screenshot-wrapper {
    flex-direction: column;
  }
  
}