@media #{$desktop-width} {
  .top-nav {
    width: 90%;
    margin: 0 auto;
    padding: 0;
    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-around;
      font-size: 0px;
      margin: 0 auto;
      padding: 0;
      list-style: none;
    }
    &__item {
      padding: 0;
      width: 15%;
      font-size: 16px;
      text-transform: uppercase;
      line-height: 50px;
      text-align: center;
      border: none;
    }
    &__link {
      text-decoration: none;
      color: white;
    }
  }
}